body {
  margin: 0px;
  background-color: #f5e6ca;
}

main {
  margin-left: 1em;
}

h1 {
  margin-left: 0.7em;
  color: #fb9300;
  font-size: 4em;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.1em;
}

h2 {
  color: #f54748;
  font-size: 2em;
  padding-left: 1.2em;
  margin: 0px;
  margin-top: 2em;
}

li {
  color: #343f56;
  margin-top: 0.2em;
  font-family: "Bodoni Moda", "Times New Roman", serif;
  font-size: 1.4em;
}

a {
  font-family: "Bodoni Moda", "Times New Roman", serif;
  font-size: 1em;
  text-decoration: wavy underline #343f56 0.01em;
}

a:hover,
a:focus {
  color: red;
  background-color: pink;
}
a:visited {
  color: darkmagenta;
}

footer {
  margin-top: 3em;
  padding: 1em;
  background-color: pink;
}

.footer {
  font-size: 1.4em;

  margin-left: 1em;
}

.footer a:hover,
a:focus {
  color: red;
  background-color: #f5e6ca;
}
